.pago-productos {
  min-width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 8px;
}

.img-producto__carrito {
  object-fit: cover;
  background-color: #eee;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.8rem;
}

/*To remove the control buttons to the input*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input[type="number"]:focus {
  box-shadow: none;
  outline: none;
}

.input-number-control {
  cursor: pointer;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
