main {
  min-height: 100%;
  overflow-x: hidden;
  flex-grow: 1;
}

.pago-productos {
  min-width: 300px;
  padding: 1rem;
}

.img-producto__carrito {
  object-fit: cover;
  background-color: #eee;
  min-height: 100px;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.8rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input[type="number"]:focus {
  box-shadow: none;
  outline: none;
}

.input-number-control {
  cursor: pointer;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-redirigir-carrito {
  background-color: #512da8;
  color: #fff;
  padding: 1rem 4.5rem;
  font-size: 1.7rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
  width: 20%;
  min-width: 250px;
}

.btn-redirigir-carrito:hover {
  background-color: #44258b;
  transition: all 0.1s ease-in-out;
  font-weight: 500;
}

.carrito-vacio-titulo {
  font-size: 2.5rem;
}
