.btn-volver-atras {
  background-color: #512da8;
  color: #fff;
  padding: 1rem 4.5rem;
  font-size: 1.7rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn-volver-atras:hover {
  background-color: #44258b;
  transition: all 0.1s ease-in-out;
  font-weight: 500;
}
