body {
  display: flex;
  flex-direction: column;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  min-height: 250px;
}

.card-img-top {
  padding: 0 2rem;
}

.card-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 0.4rem;
}

.card-category {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #929292;
  margin-bottom: 1.2rem;
}

.card-price {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.card-producto:hover {
  border: 1px solid black !important;
  padding: 0.2rem !important;
  cursor: pointer;
}

.offcanvas {
  z-index: 5002;
}

.slider-container {
  width: 100%;
}
.range-slider {
  width: 100%;
  pointer-events: none;
  position: relative;
  min-height: 40px;
}
.range-slider input {
  pointer-events: all;
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 1;
}

.range-slider input::-webkit-slider-runnable-track {
  height: 0;
}

.range-slider input[type="range"] {
  width: 100%;
}
.range-slider .range-track {
  height: 5px;
  background: #007bff;
  position: absolute;
  top: 15px;
  right: 0;
  z-index: 0;
}

.slider-min-price {
  min-width: 30px;
}
